body {
  background: #fff url("../img/bg.png") 45% top;
  padding-top: 85px;
  font-family: 'Roboto', sans-serif; }
  @media (max-width: 991px) {
    body {
      padding-top: 0; } }
  @media (max-width: 767px) {
    body {
      font-size: 90%; } }

h1, h2, h3 {
  text-transform: uppercase; }

img {
  max-width: 100%; }

.ico-title {
  float: left; }
  @media (max-width: 767px) {
    .ico-title {
      width: 50px; } }

.col-esquerda {
  color: #fff; }
  @media (max-width: 991px) {
    .col-esquerda {
      background: #00c6b2;
      padding: 30px;
      border-bottom-right-radius: 30px; } }
  @media (max-width: 767px) {
    .col-esquerda {
      padding: 15px; } }
  .col-esquerda header, .col-esquerda section {
    width: 90%; }

header {
  margin-bottom: 30px; }
  header img.photo {
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border: 2px solid #fff; }
    @media (max-width: 767px) {
      header img.photo {
        width: 50%; } }
  header h1 {
    font-weight: 300;
    font-size: 3.4em;
    margin-bottom: 5px; }
  header p {
    font-size: 2.25em; }

section {
  margin-bottom: 40px; }
  section h2 {
    padding: 24px 0 26px 113px;
    font-size: 2.7em;
    font-weight: 300;
    margin-top: 0; }
    @media (max-width: 767px) {
      section h2 {
        padding: 15px 0 15px 63px; } }
  section h3 {
    margin: 0 0 5px;
    font-weight: 700;
    font-size: 1.6em;
    color: #000; }
  section p {
    font-size: 1.8em;
    font-weight: 300;
    text-align: justify;
    line-height: 1.2em; }
  section .row {
    margin-bottom: 15px; }
  section .bar-progress {
    background: #a7a5a6 url("../img/bg-bar.png") 100% no-repeat;
    width: 250px;
    height: 20px;
    display: block;
    float: right;
    margin: 4px 0 0; }
    @media (max-width: 767px) {
      section .bar-progress {
        float: none; } }

@media (max-width: 767px) {
  .contact-me {
    position: fixed;
    bottom: 0;
    left: 0;
    padding-left: 15px;
    z-index: 9;
    height: 52px;
    background: #fff;
    margin: 0;
    color: #00c6b2;
    border-top: 2px solid #00c6b2; } }

.col-direita {
  padding-left: 0; }
  @media (max-width: 991px) {
    .col-direita {
      background: #fff;
      padding: 30px;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px; } }
  @media (max-width: 767px) {
    .col-direita {
      padding: 15px; } }
  .col-direita .data {
    width: 20%; }
    @media (max-width: 991px) {
      .col-direita .data {
        width: 100%; } }
    .col-direita .data p {
      text-align: center;
      font-size: 1.35em;
      font-weight: 400; }
      @media (max-width: 991px) {
        .col-direita .data p {
          text-align: left; } }
  .col-direita h2 {
    color: #00c6b2; }
  .col-direita p {
    text-align: left;
    color: #999;
    font-weight: 400; }
  .col-direita p.destaque {
    color: #333;
    margin-bottom: 5px;
    font-weight: 300; }
  .col-direita .bar-progress {
    background: #00c6b2 url("../img/bg-bar-gray.png") 100% no-repeat; }
  .col-direita .skill p {
    text-transform: uppercase;
    color: #333; }

@media (max-width: 700px) {
  .col-esquerda header, .col-esquerda section {
    width: 100%; } }
