@import './src/assets/css/core.scss';

.loader__wrapper {
  width: 100%;
  text-align: center;
  margin-bottom: baseline(3);
}

.loader__element {
  display: inline-block;
  width: baseline(1);
  height: baseline(1);
  margin: 0 baseline(0.5);
  border-radius: 100%;
  background-color: var(--base-3);
  animation: loader-bounce 1.4s infinite ease-in-out both;

  &--one {
    animation-delay: 0;
  }

  &--two {
    animation-delay: 0.3s;
  }

  &--three {
    animation-delay: 0.6s;
  }
}
