body{
	font-family: 'Open Sans', sans-serif;
	&:before{
		width: 40%;
		height: 100%;
		left: 0;
		top: 0;
		position: absolute;
		content: "";
		background-color: #49c5b1;
		z-index: -1;

	}
}


.sec{
	width: 1150px;
	margin: 0 auto;
	.wrap-left{
		width:438px;
		color: #fff;
		h1{
			font-size: 51px;
			font-weight: 300;
		}
		h2{
			font-size: 38px;
			font-weight: 300;
		}
		h3{
			font-size: 30px;
			font-weight: 400;
		}

	}
	@media screen and (max-width: 1150px) {
		width: 100%;
		.wrap-left{
			width: 40%;
		}
	}

}

.left-header{
	.lh-avatar{
		width: 270px;
		margin: 90px auto 0;
		display: block;
		border-radius: 30px 0 30px 0;
	}
	.lh-nome,.lh-prof{
		text-align: center;
		width: 100%;
		float: left;
		margin-bottom: 0;
	}
	.lh-prof{
		margin-top: 10px;
	}
}