@import './src/assets/css/baseline.scss';

.contact__holder {
  width: 100%;
  font-style: normal;
  letter-spacing: 3px;
}

.contact__block {
  margin-bottom: baseline(2);
}

.contact__phone-number {
  margin-bottom: baseline(.5);
}

.contact__link {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 1px;
  margin-bottom: baseline(.5);
  position: relative;
  
  &:after {
    display: inline-block;
    content: '';
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    transition: width 0.3s ease-in-out;
  }

  &:hover {
    background-image: gradient( linear, left top, right top, color-stop(0, #f2f), color-stop(1, #2ff) );
    color: transparent;
    background-clip: text;
    transition: all 0.3s ease-in-out;

    &:after {
      width: 100%;
      transition: width 0.3s ease-in-out;
    }
  }
}
