@import './src/assets/css/baseline.scss';

.main {
  background-color: var(--light-bg-color);
  color: var(--dark-font-color);
  flex-grow: 1;
  flex-basis: 65%;

  padding: baseline(13) baseline(9);
}