/* Layout */

#app {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.content {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  @media (max-width: 650px) {
    flex-direction: column;
  }

  .resume {
    background: #333333;
    color: #fff;
    flex-grow: 1;
    text-align: center;
    max-width: 296px;
    padding: 60px 30px;
    @media (max-width: 650px) {
      max-width: none;
    }
  }
  .work-education {
    flex-grow: 2;
    max-width: 460px;
    padding: 60px 30px;
    text-align: left;
  }

}
