<div class="container-fluid">
  <div class="row">
    <aside class="col-12 col-md-4 aside">
        <intro id="intro" [introData]="intro"></intro>
        <detail id="detail" [detailData]="detail"></detail>
    </aside>
    <div class="col-12 col-md-8 content">
      <profile-content id="profile-content"
        [contentTitle]="'Work Experience'"
        [contentData]="experience">
      </profile-content>
      <profile-content id="profile-content"
        [contentTitle]="'Education'"
        [contentData]="experience">
      </profile-content>
    </div>
  </div>
</div>