<html>

<head>
    <title>B2W - challenge</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- inject:css -->
    <link rel="stylesheet" href="/style.css">
    <!-- endinject -->
    <!-- scripts:css -->
    <link rel="stylesheet" href="/lib/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/lib/bootstrap.min.css">
    <!-- endinject -->
  
</head>

<body ng-app="app">
    <div ng-view></div>
</body>
<footer>
    <!-- scripts:js -->
    <script src="/lib/0.2.2_jquery.min.js"></script>
    <script src="/lib/01_angular.min.js"></script>
    <script src="/lib/angular-animate.min.js"></script>
    <script src="/lib/angular-aria.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <script src="/lib/underscore-min.js"></script>
    <!-- endinject -->

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-route.js"></script>

    <!-- inject:js -->
    <script src="/all.js"></script>
    <!-- endinject -->
    
</footer>

</html>
