/* Import Variáveis CSS */
@import '../../../../variables.scss';

.card {
    width: 100%;
    margin-bottom: 50px;

    .card-body {
        &:last-child {
            border-top: 1px solid $color-light-gray;
        }
    
        .card-title {
            font-size: 20px;
        }

        .more-info {
            margin-top: $secondary-margin;
        }
    }

    .bi-chevron-down {
        margin-right: 5px;
    }
}

/* Adaptação Mobile */
@media (max-width: 500px) {
    .card {
        margin-bottom: 0;
    }
}