@import '../../config/assets/stylesheets/mixins/vars';

.portfolio {
  .container-portfolio {
    width: 100%;
    height: 100%;
    .row {
      height: 100%;
      .grid-left {
        background-color: $primary-color;
        color: $secondary-color;
        text-align: center;

        @media (max-width: 768px) {
          padding-right: 0;
        }
        .header-about {
          padding: 85px 50px 50px;

          @media (max-width: 768px) {
            padding: 85px 15px 50px;
          }
          .avatar {
            border: 5px solid $secondary-color;
            display:block;
            width:200px;
            height:200px;
            overflow:hidden;
            transform: rotate(45deg);
            -ms-transform: rotate(45deg); /* IE 9 */
            -webkit-transform: rotate(45deg); /* Safari and Chrome */
            position:relative;
            margin: 0 auto 80px;

            @media (max-width: 768px) {
              width: 100px;
              height: 100px;
            }
            img {
              transform: rotate(-45deg);
              -ms-transform: rotate(-45deg); /* IE 9 */
              -webkit-transform: rotate(-45deg); /* Safari and Chrome */
              width: 300px;
              height: 355px;
              position: absolute;
              left: -52px;
              top: -88px;
              @media (max-width: 768px) {
                width: 142px;
                height: 156px;
                position: absolute;
                left: -24px;
                top: -35px;
              }
            }
          }
          .title {
            font-weight: 900;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-size: 58px;

            @media (max-width: 768px) {
              font-size: 30px;
            }
          }
          .profession {
            text-transform: uppercase;
          }
        }
        .separator {
          height: 3px;
          background-color: $secondary-color;
          margin-right: -30px;
          @media (max-width: 768px ) {
            margin-left: -15px;
            margin-right: 0;
          }
        }
        .content-about {
          padding: 70px 30px;
          .description {
            margin: 0 0 40px;
            @media (max-width: 768px) {
              font-size: 15px;
            }
            h2 {
              border-bottom: 3px solid $secondary-color;
              font-weight: bold;
              letter-spacing: 1px;
              text-transform: uppercase;
              width: 200px;
              margin: 0 auto 25px;
              padding: 0 0 15px;
              @media (max-width: 768px) {
                width: auto;
              }
            }
            p {
              line-height: 30px;
              letter-spacing: 2px;
            }
          }
          .contact {
            margin: 0 0 40px;
            @media (max-width: 768px) {
              font-size: 15px;
            }
            h2 {
              border-bottom: 3px solid $secondary-color;
              font-weight: bold;
              letter-spacing: 1px;
              text-transform: uppercase;
              width: 200px;
              margin: 0 auto 25px;
              padding: 0 0 15px;
              @media (max-width: 768px) {
                width: auto;
              }
            }
            p {
              margin-bottom: 5px;
              letter-spacing: 5px;
            }
            .address {
              padding: 30px 75px;
              @media (max-width: 768px) {
                padding: 30px 15px;
              }
            }
            .mail {
              p {
                word-break: normal;
                &:last-child {
                  @media (max-width: 768px) {
                    word-break: break-word;
                  }
                }
              }
            }
          }
          .skills {
            margin: 0 0 15px;
            h2 {
              border-bottom: 3px solid $secondary-color;
              font-weight: bold;
              letter-spacing: 1px;
              text-transform: uppercase;
              width: 200px;
              margin: 0 auto 25px;
              padding: 0 0 15px;
            }
            .skill-bar {
              h3 {
                text-transform: uppercase;
                font-size: 1em;
              }
              .bar {
                width: 100%;
                height: 20px;
                border: 2px solid $secondary-color;
                position: relative;
                margin: 20px 0 25px;
                .percent {
                  background-color: $secondary-color;
                  position: absolute;
                  height: 100%;
                }
              }
            }
          }
        }
      }
      .grid-right {
        background-color: $secondary-color;
        color: $default-color;
        text-align: left;
        .content-experience {
          padding: 50px 30px;
          h2 {
            text-transform: uppercase;
            font-weight: bold;
            border-bottom: 3px solid $default-color;
            font-size: 30px;
            letter-spacing: 5px;
            margin: 0 auto 40px;
            padding: 0 0 15px;
          }
          .experience, .education {
            padding-bottom: 40px;
            h3 {
              font-weight: bold;
              text-transform: uppercase;
              letter-spacing: 2px;
            }
            date {
              letter-spacing: 7px;
            }
            p {
              font-weight: 500;
            }
            &:last-child {
              margin-bottom: 100px;
            }
          }
        }
      }
    }
  }
}
.presentation {
  text-align: center;
  background-color: $primary-color;
  height: 100vh;
  color: $secondary-color;
  padding: 50px 0;
  .btn-go {
    border-radius: 15px;
    color: $primary-color;
    background-color: $secondary-color;
  }
}