section {
  margin: 35px 0;

  .title {
    display: table;

    > .icon {
      background: #fff;
      display: table-cell;
      border-radius: 12px 0px;
      height: 75px;
      text-align: center;
      vertical-align: middle;
      width: 75px;
    }

    > .icon2 {
      background: #49c5b1;
    }

    .text {
      display: table-cell;
      font-weight: normal;
      padding: 0 0 0 20px;
      text-transform: uppercase;
      vertical-align: middle;
    }
  }

  .description {
    margin: 25px 0 0 0;
    text-align: justify;
  }
}