* {
  font-family: "Montserrat", sans-serif !important;
}

:root {
  --dark: #353535;
}

.bg-dark {
  background-color: var(--dark) !important;
}

/* @media screen and (max-width: 768px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
} */
