<section class="experiences">
    <h2 class="box-title experience">{{ curriculum.experience.title }}</h2>
    <ul class="description-list">
       <timeline-item 
            ng-repeat="data in curriculum.experience.company track by $index"
            month="{{ data.month }}"
            year="{{ data.year }}"
            name="{{ data.roleName }}"
            location="{{ data.companyName }}"
            city="{{ data.companyCity }}"
            description="{{ data.description }}"
            />
    </ul>
</section>