<b2w-header (buttonEvent)="getUser()"></b2w-header>

<section>
    <div class="container">
        <div class="d-flex">
            <div class="p-2 flex-fill">
                <b2w-banner></b2w-banner>
            </div>
        </div>
        <div class="d-flex">
            <div class="p-2 flex-fill">
                <b2w-card title="Personal info" buttonTitle="see more">
                    <div firstContent>
                        <p class="card-text">gender: male</p>
                        <p class="card-text">age: 24 years old</p>
                        <p class="card-text">born at: US</p>
                    </div>
                    <div secondContent>
                        <p class="card-text">address: avenue, 999</p>
                        <p class="card-text">postcode: G2L 7B4</p>
                    </div>
                </b2w-card>
            </div>
            <div class="p-2 flex-fill">
                <b2w-card title="Contact info" buttonTitle="see more">
                    <div firstContent>
                        <p class="card-text">email: email@email.com</p>
                        <p class="card-text">phone: (404)-108-4965</p>
                        <p class="card-text">cell: 977-407-9935</p>
                    </div>
                    <div secondContent>
                        <p class="card-text">username: raphaelbzr</p>
                        <p class="card-text">registered: 10 years ago</p>
                    </div>
                </b2w-card>
            </div>
        </div>
    </div>
</section>


