html, body {
  overflow-x: hidden; }

main {
  display: flex;
  flex-direction: column; }

.aboutDev {
  width: 100%;
  padding: 1em .5em; }

.mySkills {
  width: 100%; }

.devData {
  display: flex;
  justify-content: center;
  padding: 0; }
  .devData .container-dev {
    text-align: center; }

aside.asideDevData nav {
  max-width: 100%; }
  aside.asideDevData nav section {
    width: 95%; }

aside.asideDevData ul.personalSkills li {
  justify-content: space-between; }

aside.asideSkills {
  max-width: 95%; }
  aside.asideSkills nav section {
    width: 95%; }
