html, body {
  font-family: 'Quicksand', sans-serif;
  font-size: 100%; }

main {
  display: flex;
  flex-direction: row; }

.aboutDev {
  width: 46.4%;
  background-color: #49c5b1;
  padding: 3rem 1.5rem;
  color: #FFF;
  display: flex;
  flex-direction: column; }

.mySkills {
  display: flex;
  flex-direction: column;
  padding: 3rem 0 0 2.5em; }

.devData {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 5em; }
  .devData .container-dev {
    display: flex;
    flex-direction: column;
    text-align: center; }
    .devData .container-dev .img-dev {
      border-radius: 10% 0 10% 0;
      height: 180px;
      width: 180px; }
    .devData .container-dev .dev-name {
      font-size: 2em;
      text-transform: uppercase;
      font-weight: 600;
      margin: .3em 0; }
    .devData .container-dev .profession {
      font-weight: bold; }

aside.asideDevData {
  display: flex;
  flex-direction: row-reverse; }
  aside.asideDevData nav {
    padding: 1.5em .5em;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    color: #FFF; }
    aside.asideDevData nav section {
      font-weight: 600;
      margin-bottom: 2.9em;
      display: flex;
      flex-direction: column; }
      aside.asideDevData nav section .title > label {
        text-transform: uppercase;
        display: inline-block;
        margin: 0 .5em;
        font-size: 1.3em; }
      aside.asideDevData nav section > span {
        text-align: justify;
        margin-top: .9em;
        font-size: .9em;
        line-height: 1.4em; }
  aside.asideDevData ul.personalSkills {
    display: flex;
    flex-direction: column;
    margin-top: .9em; }
    aside.asideDevData ul.personalSkills span {
      width: 150px;
      font-weight: bold; }
    aside.asideDevData ul.personalSkills li {
      margin: .2em 0; }

aside.asideSkills {
  display: flex; }
  aside.asideSkills nav {
    color: #FFF;
    padding-top: 1rem; }
    aside.asideSkills nav section {
      border: 1px solid red;
      display: flex;
      font-weight: 600;
      margin-bottom: 2.9em;
      color: #000; }
      aside.asideSkills nav section .title > label {
        text-transform: uppercase;
        display: inline-block;
        margin: 0 .5em;
        font-size: 1.3em; }
      aside.asideSkills nav section ul li {
        margin-top: 1em; }
        aside.asideSkills nav section ul li div {
          display: inline-block;
          margin-right: .8em; }
          aside.asideSkills nav section ul li div.date {
            text-align: center;
            color: #CCC; }
        aside.asideSkills nav section ul li label {
          font-family: 'Arial', sans-serif;
          font-weight: bold; }
      aside.asideSkills nav section > label {
        text-transform: uppercase;
        margin: 2rem 1em;
        font-size: 1.5em;
        color: #49c5b1; }
      aside.asideSkills nav section > p {
        text-align: justify;
        margin-bottom: 2.9em;
        margin-top: .5em;
        font-size: .9em;
        line-height: 1.4em;
        color: #CCC; }

ul.professionalSkills span {
  text-transform: uppercase;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  display: inline-block;
  width: 120px;
  font-weight: bold; }

ul.professionalSkills div {
  display: inline-block; }

ul.professionalSkills li {
  margin: .1em 0;
  width: 100%; }

i.container {
  width: 65px;
  padding: 1.1rem;
  box-sizing: border-box;
  color: #49c5b1;
  border-radius: 10% 0 10% 0;
  text-align: center; }
  i.container.containerWhite {
    background-color: #FFF;
    color: #49c5b1; }
  i.container.containerWaterBlue {
    background-color: #49c5b1;
    color: #FFF; }

ul.contact li {
  font-weight: 600; }
  ul.contact li i {
    width: 15px;
    margin-right: 1.5em;
    margin-top: .3em; }

.bar {
  width: 180px;
  height: .6em; }
  .bar.bg-1 {
    background-color: #FFF; }
  .bar.bg-2 {
    background-color: #CCC; }
  .bar .fillbar {
    top: 0;
    left: 0;
    height: inherit; }
    .bar .fillbar.bar-gray {
      background-color: #CCC; }
    .bar .fillbar.bar-waterGreen {
      background-color: #49c5b1; }
  .bar .per-60 {
    width: 60%; }
  .bar .per-70 {
    width: 70%; }
  .bar .per-90 {
    width: 90%; }
  .bar .per-95 {
    width: 95%; }
