<div class="row no-gutters" *ngIf="cv | async;let cv; else loading;">
    <div class="col-12 col-sm-4">
        <div class="row no-gutters">
            <header class="col-12">
                <app-avatar
                    [avatar]="cv.profile.image"
                    [name]="cv.profile.name"
                    [profession]="cv.profile.profession">
                </app-avatar>
            </header>
            <aside class="col-12">
                <app-profile
                    [contact]="cv.profile.contact"
                    [description]="cv.profile.description"
                    [skills]="cv.profile.skills">
                </app-profile>
            </aside>
        </div>    
    </div>
    <section class="col-12 col-sm-8 my-5 pb-5">
        <app-experience
            [experience]="cv.profile.education"
            [title]="'WORK EXPERIENCE'">
        </app-experience>
        <app-experience
            [experience]="cv.profile.experience"
            [title]="'EDUCATION'">
        </app-experience>
    </section>
</div>