/* Arquivo de variáveis do CSS */

/* Colors */
$color-light-blue: #3f99ef;
$color-dark-gray:  #5f5f5f;
$color-gray-blue:  #81b2b4;
$color-light-gray: #eaeaea;
$color-purple:     #8f23f3;
$color-white:      #ffffff;
$color-black:      #000000;
$color-gray:       #787878;

/* Spacing */
$default-margin: 20px;
$secondary-margin: 15px;