.skillset {
	.item {
		text-transform: uppercase;
		display: table;
	    width: 100%;
	    margin-bottom: 10px;
	    text-align: right;
	}
	.level-title {
		display: table-cell;
		text-align: left;
		@include media-breakpoint-down(sm) { font-size: 14px; width: 132px; }
		@include media-breakpoint-up(md) { font-size: 22px; width: 200px; }
	}
	[level-bar] {
	    background: $color-white;
    	display: inline-block;
		width: 100%;
		height: 16px;
        vertical-align: 116%;
        .side-left & { max-width: 200px; }
        .side-right & { background: $color-gray; }
		span {
			display: block;
			height: 16px;
			background-color: $color-gray;
			.side-right & { background: $color-primary; }
			font-size: 0;
		}
	}
}