html, body {
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
}

.aboutDev {
    width: 100%;
    padding: 1em .5em;
}

.mySkills {
    width: 100%;
}

.devData {
    display: flex;
    justify-content: center;
    padding: 0;
    .container-dev {
        text-align: center;
    }
}

aside {
    //left side
    &.asideDevData {    
        nav {
            max-width: 100%;
            section {
                width: 95%;
            }  
        }
        ul.personalSkills {
            li {
                justify-content: space-between;
            }    
        }        
    }
    // Right side
    &.asideSkills {
        max-width: 95%;
        nav {
            section {
                width: 95%;
            }  
        }
    }
}