.body-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1vh 3vw;
  width: 70vw;

}

.title-experience {
  border-bottom: 0.2vw solid #000000;
  padding-top: 5vh;
  font-weight: 800;
  font-size: 1.5vw;
  padding-bottom: 1vw;
  letter-spacing: 0.3vw;
}

.experienceWrap {
  display: flex;
  flex-direction: column;
  width: 60vw;
  margin: 2.5vh 0;
}

.name-experience {
  padding-bottom: 0.4vh;
  font-size: 1.2vw;
  letter-spacing: 0.3vw;
  font-weight: 600;
  margin-top: 5vh;
}

.date-experience {
  color: #1d2124;
  font-size: 0.8vw;
  font-weight: 100;
  letter-spacing: 0.2vw;
}

.description-experience {
  font-weight: 500;
  font-size: 1vw;
  letter-spacing: 0.1vw;
}

.body-experience {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
