@import "styles.scss";

$headerFontSize: 5vw;
$width: 100%;
$height: 100%;
$heightHeader: 30%;

.container-header {
  color: $second-color;
  background-color: $third-color;
  font-family: $sans-serif;
  font-weight: $light;
  display: $display;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5vw;
  width: 30vw;
}

.image-header {
  width: 20vw;
  height: 20vh;
  max-height: 20vw;
  margin: 2.5vh 0;
}

.header {
  font-family: $sans-serif;
  font-weight: $bold;
  background-color: $third-color;
  color: $second-color;
  display: flex;
  align-items: center;
  width: 25vw;
  border-bottom: 1px solid $second-color;
  font-size: 4vw;
  flex-direction: column;
}

.nav-body {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-grow: 1;
}

.header-name {
  font-size: 4vw;
  justify-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre-wrap;
  letter-spacing: 1vw;
  text-align: center;
  line-height: 100%;
  padding: 2.5vh 0;
  margin-top: 2.5vh;
}

.header-job-name {
  font-size: 2vw;
  justify-items: center;
  letter-spacing: 0.3vw;
  line-height: 50%;
  padding-bottom: 5vh;
}

.bodyNav {
  font-family: $sans-serif;
  font-weight: $bold;
  font-size: $headerFontSize;
  background-color: $third-color;
  color: $second-color;
  display: $display;
  align-items: center;
  width: $width;
  height: $height - $heightHeader;
  justify-content: space-between;
}

