$primary-color: #000000;
$second-color: #ffffff;
$third-color: #1d2124;
$serif: Merriweather, Georgia, "Times New Roman", serif;
$mono: "Source Code Pro", Courier, mono;
$light: 300;
$normal: 400;
$semi-bold: 500;
$bold: 700;
$display: flex;
$rowDirection: row;
$columnDirection: column;
$center: center;
$height: 100vh;
$width: 100vw;
$paddingBase2: 2.5vh;
$paddingBase1: 2.5vh/2;
$paddingBase5: 5vh;
$spaceBetween: space-between;
$headerFontSize: 5vw;
$maxSize: 100%;
$heightHeader: 30%;
$borderLine: solid 1px;
$sans-serif: "Arial", "Source Sans Pro", Verdana, sans-serif;

@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/HELR45W.ttf') format('truetype');
}

* {
  box-sizing: border-box
}

body {
  color: $primary-color;
  background-color: $second-color;
  font-family: $sans-serif;
  margin: 0;
  border: 0;
}

.page-container {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.container {
  flex-direction: $rowDirection;
  display: flex;
  width: $maxSize;
  height: $maxSize;
}

.contact {
  display: $display;
  flex-direction: $columnDirection;
  justify-content: $center;
  align-items: $center;
  padding: 0 $paddingBase5;
  margin-bottom: $paddingBase2;
  letter-spacing: 0.2vw;
  text-align: $center;
  font-size: 1vw;
  div {
    padding-bottom: $paddingBase2;
    display: $display;
    flex-direction: $columnDirection;
  }
}

.body-container {
  display: $display;
  flex-direction: $columnDirection;
  justify-content: space-evenly;
  padding: 1vh 3vw;
  height: 100vh;
  p {
    border-bottom: 0.2vw solid $primary-color;
    padding-top: $paddingBase5;
    font-weight: 800;
    font-size: 1.5vw;
    padding-bottom: 1vw;
    letter-spacing: 0.3vw;
  }
  span {
    justify-content: $spaceBetween;
    display: $display;
    flex-direction: $columnDirection;
  }

}

.experienceWrap {
  display: $display;
  flex-direction: $columnDirection;
}

.name-experience {
  padding-bottom: 0.4vh;
  font-size: 1.2vw;
  letter-spacing: 0.3vw;
  font-weight: 600;
  margin-top: $paddingBase5;
}

.date-experience {
  color: $third-color;
  font-size: 0.8vw;
  font-weight: 100;
  letter-spacing: 0.2vw;
}

.description-experience {
  font-weight: 500;
  font-size: 1vw;
  letter-spacing: 0.1vw;
}

.container-header {
  color: $second-color;
  background-color: $third-color;
  font-family: $sans-serif;
  font-weight: $light;
  display: $display;
  flex-direction: $columnDirection;
  justify-content: $spaceBetween;
  align-items: $center;
  font-size: 1.5vw;
  width: $width*0.3;
  flex-grow: 1;
}

.header {
  font-family: $sans-serif;
  font-weight: $bold;
  background-color: $third-color;
  color: $second-color;
  display: $display;
  align-items: $center;
  width: $width*0.25;
  border-bottom: 1px solid $second-color;
  font-size: 4vw;
  flex-direction: $columnDirection;
  img {
    width: $width*0.2;
    height: $height*0.2;
    max-height: $width*0.2;;
    margin: $paddingBase2 0;
  }
  p {
    font-size: 4vw;
    justify-items: $center;
    display: $display;
    justify-content: $center;
    align-items: $center;
    white-space: pre-wrap;
    letter-spacing: 1vw;
    text-align: $center;
    line-height: $maxSize;
    padding: $paddingBase2 0;
    margin-top: $paddingBase2;
  }
  span {
    font-size: 2vw;
    justify-items: $center;
    letter-spacing: 0.3vw;
    line-height: $maxSize/2;
    padding-bottom: $paddingBase5;
  }

}

.nav-body {
  display: $display;
  justify-content: space-evenly;
  flex-direction: $columnDirection;
  width: 100%;
  height: 70%;
}

.bodyNav {
  font-family: $sans-serif;
  font-weight: $bold;
  font-size: $headerFontSize;
  background-color: $third-color;
  color: $second-color;
  display: $display;
  align-items: $center;
  width: $maxSize;
  height: $maxSize - $heightHeader;
  justify-content: $spaceBetween;
}

.profile {
  display: $display;
  flex-direction: $columnDirection;
  justify-content: $center;
  align-items: $center;
  padding: 0 $paddingBase5;
  margin-bottom: $paddingBase2;
  letter-spacing: 0.4vw;
  text-align: $center;
}

.textProfile {
  display: $display;
  font-size: 1vw;
  flex-direction: $columnDirection;
  justify-content: $center;
  align-items: $center;
  text-align: $center;
  letter-spacing: 0.1vw;
}

.skills-container {
  display: $display;
  flex-direction: $columnDirection;
  justify-content: $center;
  align-items: $center;
  padding: 0 $paddingBase5;
  margin-bottom: $paddingBase2;
  letter-spacing: 0.2vw;
  text-align: $center;
  font-size: 1vw;
}

.bar-container {
  margin: $paddingBase1 0;
  justify-content: $spaceBetween;
}

.container-bar {
  border: 0.2vh solid $second-color;
  width: $width*0.2;
  background-color: $third-color;
}

.skills {
  text-align: $center;
  color: $second-color;
}

.container {
  width: $maxSize;
  background-color: #ddd;
}

.textTitle {
  border-bottom: $borderLine $second-color;
  padding: 5% 10%;
  font-weight: 900;
  margin-bottom: $paddingBase2;
  font-size: 1.5vw;
}
