.explanation-title {
  position: relative !important;
}

.explanation-title::before {
  content: "";
  border-bottom: 2px solid #353535;
  position: absolute !important;
  width: 100%;
  bottom: 0;
  left: 0;
}
